body {
  width: 80%;
  height: 80%;
  padding-top: 50%;

	background-image: url("image/call_screen.png");
  background-repeat: no-repeat;

  background-position: center center;
  background-size: cover;
}
