@import url('https://fonts.googleapis.com/css?family=Varela+Round');
body {
  background-size: cover;
  background-image: url("image/call_screen.png");
  background-repeat: no-repeat;
  position: relative;
}

body::after {
  content: '';
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
}

.row {
  min-height: 40rem;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 20px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background-color: #373643;
    border: 1px solid rgba(5, 255, 255, 0.10);
}

.sidebarMenuInner{
    margin: 0;
    padding: 0;
    width: 90%;
    /*background-color: #373643;
    border: 1px solid rgba(5, 255, 255, 0.10);
    */
}

.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    background-position: 10px 2px;
    background-repeat: no-repeat;
    background-size: 58px auto;
    border-bottom: 1px solid rgba(5, 255, 255, 0.10);
}

li.attention {
    background-image: url("image/NewAttention.png");
}

li.chat {
    background-image: url("image/Chat.png");
}

li.team {
    background-image: url("image/Team.png");
}

li.task {
    background-image: url("image/Task.png");
}

li.schedule {
    background-image: url("image/Schedule.png");
}

li.call {
    background-image: url("image/Call.png");
}

li.file {
    background-image: url("image/File.png");
}


.sidebarMenuInner li span{
    display: inline-block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 35px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
