html,body{
    height: 100%;
}
.top{
    height: 92.5%;
}
.row{
    height: auto;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.header{
    height: 7.5%;
}
.private{
}
.icon{
    width: 100%;
}
img {max-height : 100%;}